/*******************************************************************************
** Site Colors
*******************************************************************************/
html, body{background-color:#323232}
/* White */
 .tborder tbody tr:nth-child(even) td,
.tip, .tborder
{
	background: #fff;
}
#border{ background:#302f2f;color:#fff}
.hint, .submit, .submit:hover
{
    color: #fff;
}
.thead, .tbody
{
    border-color: #fff;
}
/* Light Grayish */


/* Black */

.notice,
{
	color:#000;
}


/* Dark Gray */
.alt1, .alt1Active, .page p, a:hover, a:active, body_ahover, .tborder, tbody, .tip
{
	color:#333;
}
/* Red */
.error, p.error
{
    color: red;
}
.hint
{
    background: #333;
}
.notice
{
    background-color: #ffffcc;
    border-color: #f9df87;
}

.notice .heading
{
    include-selector: .notice;
    color: #cc6600;
}

.tborder tbody tr:hover td
{
    background: #ffffcc;
}

.tip
{
    border-color: #ccc;
}

.sortLink {
    text-decoration: underline;
}
/*******************************************************************************
** Site Layout
*******************************************************************************/
#footer
{
	clear:both;
	cursor:default;
	font-size:11px;
	padding:10px;
    height:50px;
	position:relative;
	z-index:3;
    color:#fff;
    border-top:1px solid #191919;
    background:url(/images/admin/header-bkg.png) repeat-x top ;
}

#header
{
	display:block !important;
	height:116px;
	margin:0 auto;
	position:relative;
	/*width:980px;*/
	z-index:3;
    background:url(/images/admin/header-bkg.png) repeat-x top ;
}

#wrapper, .margin
{
	margin:0 auto;
	/*width:980px;         */
    width:1066px;
	z-index:3;
}
#container{
	min-height:500px;
}

.alt1,.alt1Active
{
	border:1px solid #c4dae3;
	font-size:14px;
	padding:8px 10px;
}

#login{
	width:400px;
    margin:150px auto 0 auto;
   /* background:url(/images/admin/login-bkg.jpg) top left  repeat-x #222;*/
    background-color:#222;
    padding:0 20px 20px 20px;
    color:#fff;
    border:10px solid #444;
}

.backtop
{
	font-weight:700;
	margin-right:10px;
	margin-top:-26px;
	position:absolute;
	right:0;
	top:0;
}

.clear
{
	clear:both;
}

.clearing
{
	clear:both;
	height:0;
	margin:-1px 0 0;
	overflow:hidden;
}

.error
{
    color: red;
    font-weight: 900;
}

div.page label {
    width: 150px;
    display: inline-block;
}

.notice
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 8px 10px 7px 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    margin: 5px 0px;
}

.notice .heading
{
    font-weight: 900;
    font-size: 20px;
}

.hint
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px 5px 2px 5px;
    font-size: 12px;
    margin: 5px 0px;
    font-weight: 900;
}

.listing tr td
{
    padding: 5px 10px;
    font-weight: normal;
}

.navbar
{
	font-size:14px;
	margin: -10px;
	margin-bottom: 10px;
    padding:5px 5px 10px 5px;
	background:url(/images/admin/blue-bkg.png) repeat-x #028fca top left;
    height:auto;
   /* border-bottom:3px solid #0293cc;*/
	/* -moz-border-radius: 16px;
    -webkit-border-radius: 16px;*/
}
.navbar a{
	margin:5px 10px 0 10px;
    height:20px;
    padding:5px 0 10px 0;
    text-align:center;
    color:#fff;
    }
/* .navbar a{ background:url(/images/admin/btn.png) no-repeat top left;}*/
.navbar_active {
	color:#FF0000;
    font-weight:bold;
    text-shadow: 0 1px 1px #044f6e;
    background:url(/images/admin/arrow.png) no-repeat bottom center;
    }

.navtrail {
    font-size: 11px;
}

.pagination{
	text-align:right;
    margin:10px 0;
}

.page{padding:10px;}

.page p {
    text-align: justify;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 12px;
}


.unview {
    font-weight: 900;
}

div.left {
    float: left;
}

div.right {
    float: right
}

div.left, div.right {
    border: 0px;
    margin: 0px;
    outline: 0px;
    padding: 0px;
    vertical-align: baseline;
}

.left p, .right p  {
    width: 460px !important;
    margin-bottom: 10px;
}

.submit, a.submit-link, .gray-btn{
	background:url(/images/admin/canvas-global.png) no-repeat;
    width:104px;
    font-size:12px;
    height:32px;
    border:none;
    text-align:center;
    vertical-align:center;
    color:#fff;
}
.submit, a.submit-link{ background-position:-111px -129px;}
a.submit-link, a.submit, a.gray-btn{ display:inline-block;padding-top:8px;height:24px; color:#fff}
.gray-btn{background-position:-215px -130px;}

.submit:hover{ background-position:-111px -163px;}
.gray-btn:hover{ background-position:-215px -163px;}
a{
	color:#037dad;
    text-decoration:none;
}
a.add{background:url(/images/admin/icon-add.jpg) no-repeat left center;}
a.add, a.export{
	display:block;
    height:20px;
    font-size:14px;
    font-weight:bold;
    float:right;
    padding-left:20px;
    margin-top:10px;
    text-decoration:underline;
}
a.export{background:url(/images/admin/icon-export.jpg) no-repeat left center;}
abbr,acronym
{
	border:0;
	font-variant:normal;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup
{
	font-style:inherit;
	font-weight:inherit;
}

body
{
	font-family:"Helvetica Neue",Arial,sans-serif;
	font-size:62.5%;
	min-height: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
{
	margin:0;
	padding:0;
}


caption,th
{
	text-align:left;
}

del,ins
{
	text-decoration:none;
}

div.search-bar
{
	height:25px;
	margin-right:15px;
	margin-top:15px;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	width:190px;
}

fieldset{ background-color:#edf3f5}
fieldset,img
{
	border:0;
}

form td
{
	font-size:11px;
}

h1
{padding:20px 25px 5px 15px;}

h1 a
{font-size:40px;}

h1,h2,h3,h4,h5,h6
{
	font-size:100%;
	font-weight:400;
}

h2{
    font-size: 20px;
    padding:5px 0px;
}

.center{
	display:block;
    margin: auto;
    text-align:center;
    }
html
{
	height:100%;
}

input
{
	border:1px solid #D5D5D5;
	color:#595959;
	font-family:Arial,sans-serif;
	font-size:11px;
	margin-bottom:10px;
	padding:4px;
}

select
{
    margin-bottom:10px;
}


td > select {
    width:100%;
}

input,button,textarea,select
{
	font-size:100%;
}

input,button,textarea,select,optgroup,option
{
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}

legend
{
	color:#0293CC;
	font-size:15px;
	padding:5px;
}

li{list-style:none;}

q:before,q:after
{
	content:'';
}

strong {
    font-weight: 900;
}

em{
    font-style:italic;
}

span.navbar a
{
	font-weight:700;
}

sup,sub
{
	vertical-align:baseline;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
}

td{vertical-align:top;}

ul#foot-copy li{display:inline;}
ul#foot-copy a{ color: #fff; text-decoration: underline}
ul#foot-copy a:hover{ color:#037DAD}
ul#foot-links{float:right;}

ul.foot-links li
{
	display:inline;
	margin-left:8px;
}

ul.foot-links li a{
	font-weight:700;
	text-decoration:none;
    color:#fff;
}


.tborder {
    border-collapse: collapse;
    border-width: 0px;
	margin-top:10px;
}

.thead
{
    background:url(/images/admin/top.jpg) repeat-x;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 10px;
    margin-top:10px;
}
.thead a{color:#fff;}
td.thead label{width:auto}
.tborder thead tr td:first-child
{
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
}

.tborder thead tr td:last-child
{
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
}

.tbody
{
    background: #edf4f6;
    font-size: 12px;
    padding: 8px 10px;
    border-width: 1px;
    border-style: solid;
}

.tborder tbody tr:nth-child(even) td
{

}

table.form_table tr td
{
    padding: 5px;
}
/*table.form td{  border-bottom:1px solid #C4DAE3;padding-top:5px}*/
table.form_table tr td label, table.form_table tbody tr td label
{
    font-weight: 900;
}

input[type="submit"]
{
    cursor:pointer;
}

ul.navigation
{
	cursor:default;
	font-size:14px;
	height:35px;
	overflow:hidden;
	margin-top: 4px;
	padding:0;
    width:100%;
}

ul.navigation li
{
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	position:relative;
    width:auto;

    height:33px;
    text-align:center;
}

ul.navigation li a
{
	color:#fff;
	display:block;
	padding:12px 20px 10px;
	text-decoration:none;
	background:url(/images/admin/nav.jpg) no-repeat center;
}

ul.navigation li a:hover{
    color: #fff;
    background:url(/images/admin/nav-hover.jpg) no-repeat center;
}

ul.navigation li.log
{
	float:right;
	font-size:13px;
}

#activepage { background: url(/images/admin/active.jpg) no-repeat center; }
#activepage a { color:#fff; }

ul.submenu
{
	background:#BBB;
	font-size:11px;
	height:27px;
	margin:1px 0 10px;
	overflow:hidden;
	padding:0;
}

ul.submenu li
{
	float:left;
	list-style:none;
}

.pages {
    padding-bottom: 5px;
    float: right;
    padding-top: 20px;
}

.pagenumber, .pagenumberhighlight{
    padding: 2px 6px;
    line-height: 15px;
    margin: 5px 2px;
    color: #333;
}

.pagenumberhighlight {
    color: #fff;
    background:#0293CC;
}

.pagenumber:hover {
    background: #0293CC;
    color: #fff;
}
.pagenext, .pageprev{color:#0293CC;font-weight:bold}

/*Tool Tips*/
.tip-wrap {
    display: none;
	z-index: 4;
}
.tip {
    width: 400px;
    border-width: 1px;
    border-style: solid;
	padding:10px;
}
.moreinfo {
    /*cursor: pointer;*/
}

.editform, #form { width:600px}

/* calendar */

.cal-container {
    background-color: #EEE;
    border: #CCC 1px solid;
    font-family: Arial;
    z-index: 105;

}

.cal-active {
    font-size: 11px;
    color: #000099;
}

.cal-prevnext {
    margin-left: 10px;
    font-size: 14px;
}

.cal-prevnext-prev {
    margin-right: 4px;
}

.cal-activehover {
    background-color: #FFF;
    cursor: pointer;
}

.cal-selected {
    background-color: #FFFCCC;
}

.cal-closelink {
    text-decoration: none;
    font-size: 14px;
    color: #990000;
}

.cal-inactive {
    background-color: #CCC;
}

.cal-dayrow {
    font-size: 11px;
    color: #FFF;
    background-color: #3789ED;
    text-align: center;
}

.cal-controls {
    font-size: 11px;
    padding: 2px;
}
/*** Time Picker ***/

.time-minute, .time-hour, .time-ampm {
    float: left;
    width: 22px;
    margin: 1px;
    border: #CCC 1px solid;
    text-align: center;
}

.time-container {
    background-color: #EFEFEF;
    padding: 3px;
    border: #CCC 1px solid;
    font-size: 12px;
}

.time-select-hover, .time-select-active {
    background-color: #FFFCCC;
    cursor: pointer;
}

.textboxlist {
    background-color: #FFF;
}

/*** Admin forums styles ***/
div.topicpost {
    margin: 4px;
    padding: 5px;
    border-bottom:1px solid #C4DAE3;
}

div.authorinfo {
    background-color: #FFF;
    float: left;
    width: 200px;
    margin-right: 15px;
}

div.postbody {
    float: left;
    width: 700px;
}

blockquote div.quote_container {
    padding: 5px;
    background-color: #FFF;
    border: #333 1px solid;
}

.postactions, .actions { font-size:13px}
/* Store styles */

div.product_layout {
    padding: 15px;
    margin-right: 10px;
    background:#EDF3F5;
    border:1px solid #C4DAE3;
}

div.access_option {
    border-radius: 5px;
    background-color: #EEE;
    margin: 3px;
    -webkit-box-shadow: 5px 5px 5px #CCC;
    padding: 5px;
    border: #999 1px solid;
}

.search-field{
    float:left;
    margin-right:15px;
}

.form-field{
    margin-bottom:10px;
}
.form-field select, .form-field input{
    margin-bottom:0;
}
.form-field .error{
    margin-left:150px;
}

/* autocompelete */

.autocompleter {
	position: absolute;
	border: 1px solid #888;
	background: #fff;
	color: #333;
	min-height: 5px;
}

.autocompleter div {
	padding: 2px;
}

.autocompletee {
	background: #5F9EA0;
	color: #fff;
}

.autocompleter strong {
	text-decoration: underline;
}

td.handle {
    background: url("../images/admin/dragger.png") top right repeat-y !important;
    cursor: move;
    height: 47px;
    margin: -9px 18px -9px -9px;
    width: 30px;
}