.dashboardRoot * {
    box-sizing: border-box;
}

.dashboardRoot .dashboard:after,
.dashboardRoot .card:after,
.dashboardRoot .card .blurb:after {
    display: block;
    content: '';
    clear: both;
}

.dashboardRoot .card {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px;
    background-color: white;
}

.dashboardRoot h2 {
    margin: 0 0 10px;
    padding: 0;
}

.dashboardRoot h3 {
    margin-top: 10px;
}

.dashboardRoot .blurb {
    padding: 5px;
    border-radius: 3px;
    margin: 0 0 5px 0;
    border: 1px solid #888;
}

.dashboardRoot .blurb a {
    padding-left: 5px;
    padding-right: 20px;
    background: url(/images/share.png) center right no-repeat;
    float: right;
}

.dashboardRoot .blurb.error {
    background: #fee;
    border-color: #f88;
}

.dashboardRoot a.jump {
    float: right;
}

.dashboardRoot .popup {
    float: right;
    position: relative;
    height: 28px;
    margin-top: -6px;
}

.dashboardRoot .popup.popup-open {
    z-index: 10;
}

.dashboardRoot .popup .trigger {
    padding: 0 14px;
    height: 100%;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    background: url(/images/configure.png) right 6px center no-repeat;
    line-height: 28px;
}

.dashboardRoot .popup.with-text .trigger {
    padding: 0 26px 0 6px;
}

.dashboardRoot .popup.popup-open .trigger {
    border-color: #aaa;
    background-color: #ffffee;
    border-radius: 3px 3px 0 0;
    z-index: 12;
}

.dashboardRoot .popup.popup-open .overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .1);
}

.dashboardRoot .popup .content {
    display: none;
    position: absolute;
    top: 27px;
    right: 0;
    border: 1px solid #aaa;
    background: #ffffee;
    padding: 10px;
    border-radius: 3px 0 3px 3px;
}

.dashboardRoot .certificates .popup .content,
.dashboardRoot .claims .popup .content,
.dashboardRoot .contracts .popup .content,
.dashboardRoot .prefs .popup .content {
    width: 291px;
    padding-bottom: 20px;
}

.dashboardRoot .popup label {
    width: 180px;
    padding-right: 10px;
    font-weight: normal;
}

.dashboardRoot .prefs .popup label {
    width: auto;
    display: block;
}

.dashboardRoot .popup select {
    width: 89px;
    margin: 0;
    vertical-align: top;
}

.dashboardRoot .popup.popup-open .content {
    display: block;
    z-index: 11;
}

.dashboardRoot .prefs {
    float: right;
}

.dashboardRoot .prefs:after {
    display: table;
    content: '';
    clear: both;
}