
.moor-box {
	width: 125px; 
	height: 110px; 
	border: 1px solid #636163; 
	background-color: #f9f9f9;
}
.moor-overlayBox {
	width: 80px; /* Width and Height of the overlay must be setted here: default 256x256 */
	height: 80px; 
	margin-top: 3px; 
	margin-left: 3px;
	border: 1px solid #000;
}
.moor-slider {
	border: 1px solid #000;
	margin-top: 3px; 
	margin-left: 86px;
	width: 10px; /* if you want a bigger or smaller slider... */
	height: 80px;
}
.moor-colorBox {
	display: none;
	visibility: hidden;
	border: 1px solid #000; 
	width: 59px; 
	height: 68px; 
	margin-top: 20px; 
	margin-left: 315px;
}

.moor-currentColor { /* Bottom Box Color, the backup one */
	display: none;
	visibility: hidden;
	margin-top: 55px; 
	margin-left: 316px; 
	width: 59px; 
	height: 34px;
}
.moor-okButton {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 8px;
	margin-top: 90px;
	margin-left: 3px;
	background: #e6e6e6;
	height: 15px;
	border: 1px solid #d6d6d6;
	border-left-color: #f5f5f5;
	border-top-color: #f5f5f5;
}

/* Following are just <label> */
.moor-rLabel {
	display: none;
	visibility: hidden;
	margin-top: 100px;
	margin-left: 315px;
}
.moor-gLabel {
	display: none;
	visibility: hidden;
	margin-top: 125px;
	margin-left: 315px;
}
.moor-bLabel {
	display: none;
	visibility: hidden;
	margin-top: 150px;
	margin-left: 315px;
}
.moor-HueLabel {
	display: none;
	visibility: hidden;
	margin-top: 190px;
	margin-left: 315px;
}
span.moor-ballino { /* Style hue Â° (degree) !! */
	display: none;
	visibility: hidden;
	margin-top: 190px;
	margin-left: 370px;
}
.moor-SatuLabel {
	display: none;
	visibility: hidden;
	margin-top: 215px;
	margin-left: 315px;
}
.moor-BrighLabel {
	display: none;
	visibility: hidden;
	margin-top: 240px;
	margin-left: 315px;
}
.moor-hexLabel {
	font-size: 0px;
	margin-top: 90px;
	margin-left: 55px;
}

/* <input> */
.moor-rInput, .moor-gInput, .moor-bInput, .moor-HueInput, .moor-SatuInput, .moor-BrighInput { 
	/*display: none;*/
	visibility: hidden;
	width: 30px;
}
.moor-hexInput {
	font-size: 9px;
	width: 45px;
}
.moor-cursor {
	background-image: url(/images/colorpicker/moor_cursor.gif); 
	width: 12px;
	height: 12px;
}
.moor-arrows {
	display: none;
	visibility: hidden;
	background-image: url(/images/moor_arrows.gif);
	top: 9px; 
	left: 270px;
	width: 41px;
	height: 9px;
}

.moor-chooseColor {
	margin-left: 100px;
	margin-top: 3px;
	width: 20px;
	height: 82px;
}
