/* Iconize 0.5 */

/* websites (pictures and movies) */
a[href *="youtube.com/watch?"], a[href *="sevenload.com/videos/"], a[href *="metacafe.com/watch/"] { 
	padding-left: 20px;
	background: transparent url(icons/icon_film.gif) no-repeat center left;
}

a[href *="flickr.com/photos/"], a[href *="zooomr.com"], a[href *="imageshack.us"], a[href *="bubbleshare.com"], a[href *="sevenload.com/bilder/"] { 
	padding-left: 20px;
	background: transparent url(icons/icon_pic.gif) no-repeat center left;
}

/* extensions */

a[href$='.doc'], a[href$='.docx'], a[href$='.rtf'], .icon-doc, .icon-docx, .icon-rtf {
	padding-left: 20px;
	background: transparent url(icons/icon_doc.gif) no-repeat top left;
}

a[href$='.txt'] {
	padding-left: 20px;
	background: transparent url(icons/icon_txt.gif) no-repeat top left;
}

a[href$='.xls'], a[href$='.xlsx'], .icon-xls, .icon-xlsx {
	padding-left: 20px;
	background: transparent url(icons/icon_xls.gif) no-repeat top left;
}

a[href$='.rss'], a[href$='.atom'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_feed.gif) no-repeat top left;
}

a[href$='.opml'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_opml.gif) no-repeat top left;
}

a[href$='.phps'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_phps.gif) no-repeat top left;
}

a[href$='.torrent'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_torrent.gif) no-repeat top left;
}

a[href$='.vcard'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_vcard.gif) no-repeat top left;
}

a[href$='.exe'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_exe.gif) no-repeat top left;
}

a[href$='.dmg'], a[href$='.app'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_dmg.gif) no-repeat top left;
}

a[href$='.pps'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_pps.gif) no-repeat top left;
}

a[href$='.pdf'], .icon-pdf { 
	padding-left: 20px;
	background: transparent url(icons/icon_pdf.gif) no-repeat top left;
}

a[href$='.xpi'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_plugin.gif) no-repeat top left;
}

a[href$='.fla'], a[href$='.swf'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_flash.gif) no-repeat top left;
}

a[href$='.zip'], a[href$='.rar'], a[href$='.gzip'], a[href$='.bzip'], a[href$='.ace'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_archive.gif) no-repeat top left;
}

a[href$='.ical'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_ical.gif) no-repeat top left;
}

a[href$='.css'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_css.gif) no-repeat top left;
}

a[href$='.ttf'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_ttf.gif) no-repeat top left;
}

a[href$='.jpg'], a[href$='.gif'], a[href$='.png'], a[href$='.bmp'], a[href$='.jpeg'], a[href$='.svg'], a[href$='.eps'],
.icon-jpg, .icon-gif, .icon-png, .icon-bmp, .icon-svg {
	padding-left: 20px;
	background: transparent url(icons/icon_pic.gif) no-repeat top left;
}

a[href$='.mov'], a[href$='.wmv'], a[href$='.mp4'], a[href$='.avi'], a[href$='.mpg'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_film.gif) no-repeat top left;
}

a[href$='.mp3'], a[href$='.wav'], a[href$='.ogg'], a[href$='.wma'], a[href$='.m4a'] { 
	padding-left: 20px;
	background: transparent url(icons/icon_music.gif) no-repeat top left;
}

/* messenger */
a[href ^="aim:"] {
	padding-left: 20px;
    background: transparent url(icons/icon_aim.gif) no-repeat top left;
}

a[href ^="msnim:"] {
	padding-left: 20px;
    background: transparent url(icons/icon_msn.gif) no-repeat top left;
}

a[href ^="xmpp:"] {
	padding-left: 20px;
    background: transparent url(icons/icon_jabber.gif) no-repeat top left;
}

a[href *="icq.com"] { 
	padding-left: 20px;
	background: transparent url(icons/icon_icq.gif) no-repeat top left;
}

a[href *="edit.yahoo.com/config/send_webmesg?"] { 
	padding-left: 20px;
	background: transparent url(icons/icon_yim.gif) no-repeat top left;
}

a[href ^="callto:"] {
	padding-left: 20px;
    background: transparent url(icons/icon_call.gif) no-repeat top left;
}

a[href ^="skype:"] {
	padding-left: 20px;
    background: transparent url(icons/icon_skype.gif) no-repeat top left;
}

a[href ^="gg:"] {
	padding-left: 20px;
    background: transparent url(icons/icon_gadugadu.gif) no-repeat top left;
}

/* email */
a[href ^="mailto:"] {
	padding-left: 20px;
    background: transparent url(icons/icon_mailto.gif) no-repeat top left;
}

/* use this class to make sure that images won't get iconized */

.imageLink {
	padding-left: 0px !important;
	background: none !important;
}

.docLibrary-format-url {
	padding-left: 20px;
	background: transparent url(icons/icon_external.gif) no-repeat top left;
}

.docLibrary-format-hr360 {
	padding-left: 20px;
	background: transparent url(icons/icon_hr360.gif) no-repeat top left;
}