.login-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 1000;
}
.login-modal {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 220px;
    margin-left: -110px;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
}
.login-form .login-error {
    color: red;
}
.login-form input {
    display: block;
    margin-bottom: 10px;
    width: 178px;
}
.login-form a {
    display: block;
    margin: -5px 0 10px;
    color: gray;
    font-size: .9em;
}
.login-form input[type="submit"], .login-form input[type="reset"] {
    display: inline;
    width: 84px;
    margin: 0;
    background: url(/images/nav-bkg.jpg) repeat-x left bottom #cecccc;
    border: 1px solid #ccc;
    padding: 3px 15px;
    color: #444;
    text-shadow: 1px 1px 2px #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
.login-form input[type="submit"]:hover, .login-form input[type="reset"]:hover {
    background: url(/images/btn-hover.jpg) repeat-x left top #5c5c5d;
    color: #fff;
    text-shadow: none;
    border-color: #666;
}
.login-form input[type="reset"] {
    margin-left: 10px;
}