@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.6.3');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

*{ margin:0; padding:0}

html {
	font-family:Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#666;
    font:12px/18px "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    text-align:center;
	/*background:#f3f3f3;*/
	background: #fff;
	}

body {
	padding-bottom: 10em;
	overflow-y: scroll;
}
body.dialog {
	overflow-y: auto;
	text-align: left;
}

a {
	color:#3386cb;
	text-decoration:underline;
    cursor:pointer;
	}
a:hover{color:#1b98e8}

p { margin:5px 0 15px 0;}

h1, h2{ margin:0 0 15px 0;}

h1{
	font-size:22px;
    line-height:22px;
    color:#be0f34;
    font-weight:normal;
    }

h2{
	font-size:20px;
    line-height:20px;
    font-weight:normal;
    font-style:italic;
    }

* > h2 {
    margin-top: 1em;
}

h3 {
	font-size:15px;
	line-height:18px;
    color:#005DAA;
    font-weight:normal;
    margin:10px 0;
}

ul, ol{
	list-style-position:inside;
	padding-left:15px;
}

li{
	line-height:16px;
    padding-bottom:5px;
}

hr {
    border: 1px solid #d3d3d3;
    margin: 1em 0;
    border-bottom: 0;
}
/*Global Elements*/
.clear{clear:both;}
.left{ float:left;}
.right { float:right;}
.center{
	margin:5px auto;
    display:block;
    width:auto;
}
.center_text{
    text-align:center;
}
.no-disc{
	list-style:none;
    padding:0;}

.margin{margin:10px;padding:10px}
.pad{padding:10px}

.ok-btn{
    margin-left:10px;
    width:60px;
}

.help-icon {
	margin-left: 5px;
}

.help-icon img {
	height: 12px;
	width: 12px;
}

div.pagecontainer a, div.pagecontainer span {
    padding-right:5px;
}

h3.red {
    color:#be0f34;
    margin-left:-26px;
    text-align:center;
}

h3.toggler{
	/*color:#880603;*/
	color:#d31145;
	font-weight: bold;
	background: url(/images/triangle.jpg) no-repeat 0 5px;
	list-style: none;
	padding:0px 0 5px 15px;
	line-height:23px;
	border-bottom: 1px dotted #ccc;
    cursor:pointer;
	}

/*
.wrap-words table{
    width: 100%;
    word-wrap:break-word;
    table-layout: fixed;
}
*/
.wrap-words td{
    padding:5px;
}

/* W I D T H S */

/* 2 columns*/
.w700 {width:670px;}
.w260 {width:220px;}
.w720{width:720px}
.w470{width:440px}
.w100p{width:100%}
.w75p{width:70%}
.w25p{width:25%}

.w700, .w260, .w470{
    padding:10px;
    margin-left:10px;
    float:left;
}

/*** F O N T S ****/
.title, .title a{color:#005DAA;}

/* l A Y O U T */
#wrapper{
	width:1000px;
    margin:0 auto;
    text-align:left;

}

#content{
	margin-top:15px;
	padding:15px 10px 10px 10px;
	-moz-box-shadow:0px 0px 3px #ccc;
  	-webkit-box-shadow:0px 0px 3px #ccc;
  	box-shadow:0px 0px 3px #999;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
	-o-border-radius:3px;
    border-radius:3px;
	clear:both;
	background:#fcfbfb;
    behavior: url(/js/pie-css/PIE.php);
	}

#content:after {
	display: table;
	content: "";
	clear:both;
}

#leftcol, #middlecol, #rightcol{
	float:left;
    min-height:100px;
	position:relative;
}

#rightcol{
    width:260px;
   	margin-left:15px;
   	padding-left:10px;
    border-left:1px dotted #ccc;
}

#leftcol{
	padding:0;
	margin:0;
}

/* H E A D E R */

#header{
	padding-top:10px;
	background:url(/albums/random-image.php) no-repeat top right;
	/*height:173px;*/
	position:relative;
	/*margin-bottom:15px;*/
}

.logo{
	font-size:28px;
    margin-left:20px;
}

#topNav{
	margin:0 0 10px 0;
    padding:0;
    float:right;
	width:150px;
}
#topNav a{
	color:#333;
	font-weight:bold;
	text-decoration:none
}

#logout{
	color:#BE0F34;
	text-decoration:none;
	margin-right:15px;
}

nav {
	width:1000px;
	padding: 0;
	font-size: 12px;
	text-align: center;
	margin: 0 0 10px;
	height: auto;
	background: #f8f8f8;
	position: relative;
	margin-bottom: 40px;
	-moz-box-shadow: 0px 0px 3px #ccc;
	-webkit-box-shadow: 0px 0px 3px #ccc;
	box-shadow: 0px 0px 3px #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

nav:hover {
	z-index: 999;
}

nav ul {
	padding: 0;
	background: #f8f8f8;
	margin: 0 auto;
	display: inline-block;
}

nav ul:after {
	display:table;
	content: '';
	clear:both;
}
nav li {
	display: block;
	float: left;
	padding: 0;
	position: relative;
}

nav li:hover > a {
	background: #888;
	color: #f8f8f8;
}

nav a {
	display: block;
	text-decoration: none;
	color: #555;
	font-weight: bold;
	padding: 1em 15px;
	font-size: 14px;
	text-align: center;
	border-right: 1px solid #ccc;
}

nav li:last-child a {
	border: 0;
}

nav a:hover {
	background: #f8f8f8;
	color: #555;
}

nav a.mainNav-active {
	color: #d9113d !important;
	background: #ddd !important;
	cursor: default;
}

nav a.disabled {
	color: #7A7A7A;
	cursor: default;
}

nav a.disabled:hover {
	color: #7A7A7A;
}

nav ul ul {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
	top:100%;
	right: auto;
	border: 1px solid #ddd;
}

nav ul ul.popup {
	min-width: 100%;
	display: none;
	background: #ddd;
	border: 1px solid #888;
}

nav ul ul.active {
	left: 50%;
	transform: translateX(-50%);
	font-size: 0;
	background: #ddd;
	white-space: nowrap;
	border-radius: 0 0 8px 8px;
}

nav ul ul a:hover {
	background: #f8f8f8;
	color: #111;
}

nav li:hover ul.popup {
	display: block;
	z-index: 10;
}

nav li li {
	border: none;
	white-space: nowrap;
	float: none;
}

nav li ul.active li {
	display: inline-block;
}

nav li ul a {
	color: #333;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	padding: .5em 16px;
	border: 0;
}

nav li ul a.activesubpage {
	color: #d9113d;
	font-weight: bold;
}

nav li ul a.activesubpage:hover {
	background: #ddd;
}

#first{
    border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    -o-border-radius:5px 0 0 5px;
    behavior: url(/js/pie-css/PIE.php);
}

#last{
	-moz-border-radius:0 5px 5px 0 ;
    -webkit-border-radius:0 5px 5px 0 ;
    border-radius:0 5px 5px 0 ;
    -o-border-radius:0 5px 5px 0;
    behavior: url(js/pie-css/PIE.php);
	}

a#credit{
	display: block;
	color:#ccc;
	font-size: 9px;
	margin-top:10px;
}
a#credit:hover{ text-decoration: underline}

#new{
	position:absolute;
	right:5px;
	top:-5px;
	border:none;
}

#search{
	margin-top:80px;
    text-align:right;
    padding:0;
    float:right;
}

.errors{
    border:1px solid #e03d30;
    background-color:#f4b1a4;
    padding:3px;
    text-align:center;
	color: #333;
    font-weight:bold;
}

.form-error{
    color:red;
	display: block;
	clear: left;
    margin-left:150px;
}

.notice{
    border:1px solid #e0c530;
    background-color:#f4efa4;
    padding:3px;
    text-align:center;
	color: #333;
    font-weight:bold;
}

.callout{
	border:1px solid #e0c530;
	background-color:rgba(244,239,164,.3);
	padding:1em;
	color: #333;
	font-size: 1.1em;
	border-radius: 3px;
}

.callout .icon {
	float: left;
	margin-right: 10px;
}

.callout:after {
	display:table;
	content:'';
	clear:both;
}

.search_highlight {
    background-color:#f4efa4;
}

a.video{
	padding:2px 25px;
	background: url(/images/icon-video.png) no-repeat;
	color: #3386cb;
	margin:0 auto;
	display: inline-block;
	text-align:center;
}

/* https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/ */
.hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/*----------------------*
 *-- ACCORDION STYLES --*
 *----------------------*/
#accordion    {
	margin: 20px 0 0;
	max-width: 740px;
}

#accordion H2 {
	background: url("../images/nav-bkg.jpg") repeat-x scroll left bottom #CECCCC;
	border: 1px solid #CCCCCC;
	color: #444444;
	cursor: pointer;
	margin: 0 0 4px 0;
	padding: 3px 5px 1px;
	text-shadow: 1px 1px 2px #FFFFFF;
}

#accordion .content {
    background-color: #F3F3F3;
}

#accordion .content p {
    margin: 0.5em 0;
    padding: 0 6px 8px 6px;
}



/* SUBPAGES*/
.divider{
	border-bottom:1px dotted #ccc;
    margin-bottom:20px;
    padding-bottom:20px;
}

.rightcol{
	border-left:1px dotted #ccc;
    padding-left:10px;
}

.list{ margin:0; padding:0}
.list li{
	border-bottom:1px dotted #ccc;
    padding:10px;
	list-style: none;
}
.list li:hover{ background:#f5f3f3}
.list a{text-decoration: none}

 #searchBox{
 	border:1px dotted #ccc;
    background:#f6f5f5;
    padding:10px;
 }

.page-desc {
	padding: 10px 10px 10px 25px;

	background: #faf8df;
	color: #fff;
	font-weight: bold;
    margin-right: 15px;
	background:#456dab;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#476dac), to(#99add0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #476dac, #99add0); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #476dac, #99add0); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #476dac, #99add0); /* IE10 */
	background-image:      -o-linear-gradient(top, #476dac, #99add0); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #476dac, #99add0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#476dac', EndColorStr='#99add0'); /* IE6–IE9 */	
	
}
/* info warning icon */
.info_icon{
	/*background:url(/images/exc-sm.png);*/
    float: left;
    height: 20px;
/*    left: 5px;
    margin-right: -20px;
    position: relative;
    top: 5px*/;
    width: 10px;
    cursor:pointer;
	position:absolute;
	left:10px;
	top:10px;
	display:hidden;
}

.info_text{
    color: #3386CB;
    cursor: pointer;
    font-size: 80%;
    margin-left: 25px;
    margin-bottom: 15px;
    display:inline-block;
	margin-top:5px;
}

.survey-list{ margin:0; padding:0; height:0}
.survey-list a{
	background: url(/images/survey.jpg) no-repeat;
    cursor: pointer;
    display: block;
    position: fixed;
    right: 0;
    top: 70px;
    width: 40px;
    z-index: 100000;
	padding-top: 116px;
	overflow: hidden;
	height:0;
 }
 .survey-list a:hover{
 	background: url(/images/survey-hover.jpg) no-repeat 0 -1px #8a0521;
	width: 50px;
	}
 .survey-list li{ list-style: none;}



 /****** LEFTNAV****/

 #leftnav{padding:0}
 #leftnav li{
 	list-style:none;
 }
 #leftnav a{
 	color:#333;
	text-decoration:none;
 }
  #leftnav a:hover{ text-decoration:underline}

 /*** Posts ***/

a.username{
	font-size:15px;
    text-decoration:none;
    font-weight:bold;
}

div.topicpost {
	margin-bottom:25px;
	border-bottom:1px dashed #ccc;
    padding:5px 0;
    background-color:#eee;
    border:1px solid #ccc;
}

div.postinfo, div.topicinfo {
	color:#333;
	padding:3px;
	margin-bottom:2px;
    border-bottom:1px dashed #ccc;
}
div.postactions{
    margin-right:5px;
}

.date-bkg{
    padding:0 5px 9px 5px;
    color:#fff;
    font-size:15px;
    font-weight:bold;
    text-shadow:0 0 1px  #4b4b01;
}
div.postbody {
    float:left;
    width:500px;
}

div.postsig {
    border-top:1px dashed #ccc;
    margin-top:20px;
}

div.authorinfo {
	float:left;
	border-right:1px dashed #ccc;
	width:150px;
	margin-right:5px;
	/*min-height:90px;*/
	padding:3px;
}

.authorinfo ul{
	list-style:none;
}

.authorinfo li{margin:3px 0;}

input.topics_title {
    width:400px;
    padding:3px;
    font-size:12px;
    border:#CCC 1px solid;
}

div.posts_enabled {
    background-color:#FEFEFE;
    border:#CCC 1px solid;
    padding:3px;
    width:270px;
}

.forum h2{
    margin:0;
}

.forum-topics{
    margin:10px 0 20px 20px;
}

.multiquote {
    color:#3386cb;
    cursor:pointer;
    text-decoration:underline;
}
.multiquote_active {
    color: #aaa;
}

.quote_container {
	border-left: 1px dotted #666;
	padding: 5px;
	margin: 5px;
	background-color: rgba(180,180,180,0.2);
}

/* calendar */

.cal-container {
    background-color:#EEE;
    border:#CCC 1px solid;
    font-family:Arial;
    z-index:105;
    width:250px;
}

.cal-active {
    font-size:11px;
    color:#000099;
}

.cal-prevnext {
    margin-left:10px;
    font-size:14px;
}

.cal-prevnext-prev {
    margin-right:4px;
}

.cal-activehover {
    background-color:#FFF;
    cursor:pointer;
}

.cal-selected {
    background-color:#FFFCCC;
}

.cal-closelink {
    text-decoration:none;
    font-size:14px;
    color:#990000;
}

.cal-inactive {
    background-color:#CCC;
}

.cal-dayrow {
    font-size:11px;
    color:#FFF;
    background-color:#3789ED;
    text-align:center;
}

.cal-controls {
    font-size:11px;
    padding:2px;
}

/******** F O R M S *********/
form{
	margin:5px  0 10px 0;
}
label {
    font-weight:bold;
    width:150px;
    display:inline-block;
}

label.checkbox-label {
	width: auto;
	font-weight: normal;
}

.text, .input-text, textarea{
	border:1px solid #ccc;
    width:250px;
}
.text{
    /*margin:5px 5px 5px 0;*/
}

.full-width .text,
.full-width .input-text,
.full-width textarea {
	width:650px;
}

.btn{
	background:url(/images/nav-bkg.jpg) repeat-x left bottom #cecccc;
    border:1px solid #ccc;
    padding:3px 15px;
    color:#444;
    text-shadow:1px 1px 2px #fff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -o-border-radius:10px;
    /*behavior: url(/js/pie-css/PIE.php);*/
}

.btn.btn-large {
    font-size: 1.5em;
    padding: .5em 2em;
}

.btn:not(:disabled):hover{
    background:url(/images/btn-hover.jpg) repeat-x left top #5c5c5d;
    color:#fff;
    text-shadow:none;
    border:1px solid #666;
    cursor:pointer;
}

.btn:disabled{
    color:#888;
    border:1px solid #eee;
}

.buttons input{
    padding:2px 4px;
}

fieldset {
	padding:5px 10px;
	margin: 1em 0 2em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #aaa;
}

legend {
	padding: 0 5px;
	margin-left: 5px;
	font-weight: bold;
	font-size: 1.3em;
	background-color: #fcfbfb;
}

fieldset fieldset {
	padding: 5px 10px;
	margin: 1em -10px 0;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-bottom:0;
}

fieldset fieldset legend {
	padding: 0 5px;
	margin-left: 5px;
	font-size: 1.1em;
}

.form-field{
    margin:8px 0;
}
.form-field .multiradio-container{
    display:inline-block;
    vertical-align: top;
}
.form-field .multiradio-container label{
    font-weight:normal;
    margin-left:3px;
    width:250px;
}
.multiinput-container{
    display:inline-block;
	vertical-align: top;
	width: 800px;
}
.multiinput-container > span {
    display:inline-block;
    width:255px;
    margin-right:10px;
    vertical-align:top;
}
.multiinput-container > span:last-child {
	margin-right: 0;
}
.multiinput-container label span{
    margin-right: 5px;
}
.multiinput-container span.num-1{
    width:100%;
}
.multiinput-container span.num-2{
    width:340px;
}
.multiinput-container label{
    font-weight:normal;
    width:auto;
    max-width:100%;
    box-sizing: border-box;
}
.multiinput-container span.num-1 label{
    max-width:90%;
}
.multiinput-container span.num-2 label{
    max-width:240px;
}

.form-field fieldset {
    padding: 0;
    display: inline-block;
    border: 0;
	margin: 0;
	vertical-align: top;
}

.form-field fieldset label{
    font-weight: normal;
    width: auto;
}

 /****** T A B L E S ******/

table {
	border-right: 1px dotted #ccc;
	font-size: inherit;
	border-spacing: 0;
}

table a{
    display:inline-block;
}

td{
 	border-bottom:1px dotted #ccc;
    border-left:1px dotted #ccc;
    padding:5px 10px;
 }
 th{
 	background:url(/images/nav-bkg2.jpg) repeat-x;
    text-align:center;
	color:#262626;
    padding:5px 3px;
	line-height:13px;
 }
th a{
    color:#fff;
    text-align:center;
}

.page-dialog table, .page-dialog td {
	border: 0;
}

.page-dialog th {
	background: none;
	text-align: left;
	padding: 0 6px;
}
.page-dialog td {
	border: 0;
	padding: 0;
}

.paging a{
	display: inline-block;
	text-decoration: none;
	margin:8px 5px;
}

.paging a:hover{color: #be0f34;}
.pagenumberhighlight{
	background: #be0f34;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 2px; /* FF1-3.6 */
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	padding:0 5px;
 }
.pagenumberhighlight:hover{background: #be0f34; color:#fff}
.rightcol-box{
    border-bottom:1px solid gray;
    padding-bottom:5px;
    margin-bottom:10px;
}

#recently_viewed{
    cursor:pointer;
}
#recently_viewed_list{
    overflow:hidden;
}
#recently_viewed_list li{
    line-height:20px;
}

/********************************
            B L O G
********************************/
a.blog-title, .blog-title{
	font-size:20px;
    color:#003164;
    line-height:20px;
}

#blog-comments{
 	border-bottom:1px solid #eaeaeb;
    padding-bottom:10px;
    margin-bottom:5px;
}

.comment-box{
    width:350px;padding-left:10px;
}

.rating{
    background:white no-repeat;
    white-space:nowrap;
    overflow:hidden;
}

#rating{
    background-image:url(/images/gold-bg.gif);
    width:124px;
}

 #user-rating{
    background-image:url(/images/gold-bg-small.gif);
    margin-left:20px;
    width:85px;
    height:16px;
    float:left;
    cursor:pointer;
}

#files_download {
    display:none;
}

.claims_error {
    color:#D31145;
    margin-left:150px;
}

#body_part {
    margin-top:5px;
}

.files_error {
    color:#D31145;
}

.templates{
    float:right;
    width:250px;
}
.templates a{
    display:block;
}

.tab-title {
    float: left;
    width: 14.9%;
    margin:-1px 5px 0;
    background: #fff;
    border: 1px solid #aaa;
    font-size: 12px;
    color: #666;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    border-bottom: 0px;
	white-space: nowrap;

    /* CSS3 */
	-moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0 ;
    border-radius:5px 5px 0 0 ;
    -o-border-radius:5px 5px 0 0 ;
    /*
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    */
    text-shadow: 0px 1px 1px #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff) to(#ccc)); /*old webkit*/
    background: -webkit-linear-gradient(#fff, #ccc); /*new webkit*/
    background: -moz-linear-gradient(#fff, #ccc); /*gecko*/
    background: -ms-linear-gradient(#fff, #ccc); /*IE10*/
    background: -o-linear-gradient(#fff, #ccc); /*opera 11.10+*/
    background: linear-gradient(#fff, #ccc); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#fff, #ccc); /*PIE*/
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   behavior: url(/js/pie-css/PIE.php);
}
.tab-title a{
    display:inline-block;
    width:100%;
    height:26px;
    color:#333;
    text-decoration:none;
    font-weight:bold;
    padding-top:10px;
}
.tab-title.activetab{
    margin-top:0;
    background:white;
	behavior: none;
	-pie-background: none;
}


/* Temp Reg / Unreg buttons [this isnt what i would do, i would have classes defining btn styles and colors at top, and using variables to change for specifics, but i didnt want to change the framework for this project, so this will have to do. -ck] */
.reg_btn, .unreg_btn, .green_btn {
	/* useful if you don't want a bg color from leaking outside the border: */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	padding:5px 15px;
	color:#fff;
	text-decoration:none;
	text-shadow:0px 1px 1px #333;
	-moz-border-radius: 10px; /* FF1-3.6 */
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	text-decoration: none;
    /*behavior: url(/js/pie-css/PIE.php);*/
}

.reg_btn{
	background-color: #1b98e8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1b98e8), to(#176ca3)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #1b98e8, #176ca3); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #1b98e8, #176ca3); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #1b98e8, #176ca3); /* IE10 */
	background-image:      -o-linear-gradient(top, #1b98e8, #176ca3); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #1b98e8, #176ca3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1b98e8', EndColorStr='#176ca3'); /* IE6–IE9 */
	border:1px solid #16689c;


}
.reg_btn:hover{
	color:#fff;
	background-color: #176ca3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#176ca3), to(#1b98e8)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #176ca3, #1b98e8); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #176ca3, #1b98e8); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #176ca3, #1b98e8); /* IE10 */
	background-image:      -o-linear-gradient(top, #176ca3, #1b98e8); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #176ca3, #1b98e8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#176ca3', EndColorStr='#1b98e8 '); /* IE6–IE9 */
	border:1px solid #16689c;
}
.unreg_btn{
	background-color: #a2a0a1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a2a0a1), to(#5c5c5e)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #a2a0a1, #5c5c5e); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #a2a0a1, #5c5c5e); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #a2a0a1, #5c5c5e); /* IE10 */
	background-image:      -o-linear-gradient(top, #a2a0a1, #5c5c5e); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #a2a0a1, #5c5c5e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a2a0a1', EndColorStr='#5c5c5e'); /* IE6–IE9 */
	border:1px solid #666;
}
.unreg_btn:hover{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5c5c5e), to(#a2a0a1)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #5c5c5e, #a2a0a1); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #5c5c5e, #a2a0a1); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #5c5c5e, #a2a0a1); /* IE10 */
	background-image:      -o-linear-gradient(top, #5c5c5e, #a2a0a1); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #5c5c5e, #a2a0a1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c5c5e', EndColorStr='#a2a0a1'); /* IE6–IE9 */
	border:1px solid #444;
}

.green_btn{
	background:url(/images/green-gradient.png) repeat-x;
	border:1px solid #536a17;
	padding:10px 25px;
	font-size:16px;
	display:inline-block;
	text-decoration: none;
    cursor:pointer;
	border-radius: 10px;
    behavior: url(/js/pie-css/PIE.php);
}

.green_btn:hover{
	background:url(/images/green-gradient-over.png) repeat-x;
}

/* Tool tip CSS */
img.tip, img.tip-category{
    /*vertical-align:bottom;*/
	vertical-align:middle;
   	margin:0 0 0 5px;
}
.tip-wrap{
    width:300px;
    background:#fff;
	border: 1px solid #0268AF;
	color: #0268AF;
    padding:10px;
}
.tip-wrap-name{
    width:900px;
    height:500px;
    z-index:100;
    overflow:auto;
}

.claim_type{
    display:none;
}

.wc_classification_details {
    margin-left:3em;
    margin-bottom: 1em;
}

.wc_classification_details_container .form-field {
    margin: 3px 0;
}

.wc_classification_details_container span {
    display:inline-block;
}

.page-header {
	margin-bottom: 15px;
	position: relative;
}

.page-header:after {
	display:table;
	content:'';
	clear:both;
}

.page-header h1 {
	float: left;
	margin: 0;
}

.page-options{
    float: right;
    margin: 5px 0 0 10px;
	text-align: right;
	position: relative;
	z-index: 5;
}

.page-options a {
	padding: 2px 5px;
	text-decoration: none;
	font-size: 14px;
}

.download-view{
    font-style:italic;
    color:#999;
}

#suggestion-error {
    color:#DB4970;
    font-size:8pt;
    display:none;
}

.faq_ans {
    display:none;
    overflow:hidden;
}

.imp {
    color:#be0f34;
}

/* license location checkbox */
#licensed_locations input {
    margin-right: 10px;
}

.userList .mainAdmin {
    background-color: #f4efa4;
}

/* Moo Dialog Style FIXED */
#MooDialogFixed

.fixedDialogDiv
{
    width: 95%; 
    height: 70%;
}

.dialogContentTable
{
    border-style:none;
    border-width:0; 
    width:100%;
    height:100%;
}

.dialogTitleCell
{
    border-style:none;
    border-width:0;
}

.dialogContentCell
{
    border-style:none;
    border-width:0;
    height:100%;
}

.hidden {
	display:none;
 }

.MooDialog iframe, .ui-dialog iframe {
	width: 100%;
	height: 99%;
	border: 0;
}

.MooDialog {
	max-height:90vh;
}
.MooDialog > div {
	max-height: 100%;
}
.MooDialog img {
	max-width: 100%;
}
.mooIframe {
	background: transparent;
}

.MooDialog.deleteWithCerts, .MooDialog.deleteWithCerts > div {
	height: auto !important;
	overflow: visible !important;
}

.MooDialog.deleteWithCerts .options {
	text-align: center;
}

.form-actions {
	text-align: center;
	clear: both;
}

select,
textarea,
input:not([type]),
input[type=text],
input[type=password],
input[type=submit],
input[type=button],
button,
.button {
	box-sizing: border-box;
	padding: 3px 6px;
	margin: 3px 6px;
	height: 24px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #8a939c #abb2b8 #c1c6cb;
	outline-style: none;
	background: white;
}

input[type=checkbox],
input[type=radio] {
	margin: 0 6px;
	vertical-align: middle;
}

input:disabled,
select:disabled,
button:disabled,
.button:disabled {
	background: #eee;
	border-color: #ccc;
}

input.disabledHideText:disabled {
	color: #eee;
}

input:disabled:read-only {
	background: #fcfbfb;
	color: black;
}

.requestCertOptions {
	margin: .5em 0 .5em 1.5em;
}

input[type=submit],
input[type=button],
button,
.button {
	line-height: 16px;
	background-color: #ddd;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#ddd));
	background-image: -webkit-linear-gradient(top,#eee,#ddd);
	background-image: -moz-linear-gradient(top,#eee,#ddd);
	background-image: -o-linear-gradient(top,#eee,#ddd);
	background-image: linear-gradient(to bottom,#eee,#ddd);
	cursor: pointer;
	text-decoration: none;
	display:inline-block;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover,
.button:hover  {
	border-color: #666;
}

input[type=submit].btn-primary,
input[type=button].btn-primary,
button.btn-primary,
.button.btn-primary  {
	font-size: 1.2em;
	padding: 4px 8px;
	height: 30px;
	line-height: 22px;
}

input[type=submit].btn-ok,
input[type=button].btn-ok,
button.btn-ok,
.button.btn-ok {
	background-color: #41af1c;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4bc920),to(#41af1c));
	background-image: -webkit-linear-gradient(top,#4bc920,#41af1c);
	background-image: -moz-linear-gradient(top,#4bc920,#41af1c);
	background-image: -o-linear-gradient(top,#4bc920,#41af1c);
	background-image: linear-gradient(to bottom,#4bc920,#41af1c);
	color: white;
	border-color: #399918;
	text-shadow: -1px -1px 0 #318315;
}

input[type=submit].btn-ok:hover,
input[type=button].btn-ok:hover,
button.btn-ok:hover,
.button.btn-ok:hover  {
	border-color: #24600f;
}

input[type=submit].btn-delete,
input[type=button].btn-delete,
button.btn-delete,
.button.btn-delete  {
	background-color: #BF3024;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#cc3427),to(#BF3024));
	background-image: -webkit-linear-gradient(top,#cc3427,#BF3024);
	background-image: -moz-linear-gradient(top,#cc3427,#BF3024);
	background-image: -o-linear-gradient(top,#cc3427,#BF3024);
	background-image: linear-gradient(to bottom,#cc3427,#BF3024);
	color: white;
	border-color: #9c2422;
	text-shadow: -1px -1px 0 #631814;
}

input[type=submit].btn-delete:hover,
input[type=button].btn-delete:hover,
button.btn-delete:hover,
.button.btn-delete:hover  {
	border-color: #631814;
}

select {
	max-width: 180px;
}

.form-field select {
	max-width:250px;
	width:250px;
}

textarea {
	height: 80px;
	vertical-align: top;
}

div.actionMenu {
	position:relative;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: none;
	padding: 2px 5px;
}

div.actionMenu:before {
	content: 'Actions...';
	display: block;
	color: #3386CB;
}

div.actionMenu ul {
	display:none;
	position:absolute;
	top: 100%;
	left: -1px;
	background: white;
	border: 1px solid #888;
	padding: 0;
	margin: 0;
	list-style: none;
	min-width: 100%;
}

div.actionMenu:hover {
	border-color: #888;
}

div.actionMenu:hover ul {
	display: block;
	z-index: 10;
}

div.actionMenu li {
	display: block;
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 0;
}

div.actionMenu li:first-child {
	border-top: none;
}

div.actionMenu li a {
	display: block;
	padding: 5px 30px 5px 10px;
	text-decoration: none;
	white-space: nowrap;
}

div.actionMenu li a:hover {
	background: #eee;
}

.j-addlInsuredLine {
	padding: 0 0 8px;
}

.page-dialog-trigger {
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 2px 5px;
	position: relative;
}

.page-dialog-trigger.expanded {
	background: white;
	border-bottom: 3px solid white;
	z-index: 1010;
}

.page-dialog {
	display:none;
	border-radius: 4px;
	padding: 10px 0;
	background: white;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1010;
}

.page-dialog-background {
	background: black;
	opacity: .2;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:none;
	z-index: 1000;
}

.filter-contracts {
	width: 800px;
}

.dialog-sections {
	padding-bottom: 10px;
	display: table;
	width: 100%;
}

.dialog-section {
	border-right: 1px solid #ccc;
	padding: 0 10px;
	display: table-cell;
}

.dialog-section:last-child {
	border-right: none;
}

.page-dialog-1 {
	width: 33%;
}

.page-dialog-2 .dialog-section {
	width: 50%;
}

.page-dialog-3 .dialog-section {
	width: 33.3%;
}

.page-dialog label {
	width: auto;
	font-weight: normal;
}

.page-dialog .dates label {
	width: 70px;
}

.page-dialog .dates select,
.page-dialog .dates input {
	width: 150px;
}

div.file-container {
	vertical-align: bottom;
	margin: 5px 0;
}

.file-table {
    display:inline-block; 
    margin-right: 5px;
}

.add-file-link {
	position: relative;
	top: -5px;
}

tr.notices{
    background-color:#ffe;
    font-weight: normal;
}
td.error{
    background-color:#fee;
}

table.cert-coverages {
	width: 100%;
}

table.cert-coverages td {
	white-space: nowrap;
}

table.cert-coverages label {
	font-weight: normal;
}

table.cert-coverages input.coverage_amt {
	width: 80px;
}

table.cert-coverages td:first-child {
	width: 235px;
}

table.contracts td:first-child {
	width:209px;
}
table.contracts td:nth-child(2) {
	width:86px;
}
table.contracts td:nth-child(3) {
	width:67px;
}
table.contracts td:nth-child(4) {
	width:82px;
}
table.contracts td:nth-child(5) {
	width:83px;
}
table.contracts td:nth-child(6) {
	width:233px;
}
table.contracts td:nth-child(7) {
	width:109px;
}
table.contracts td:nth-child(8) {
	width:62px;
}

td input:not([type]), td input[type=text], td textarea {
	width: 100%;
	margin: 0;
}

.cal-container {
	z-index: 10000 !important;
}

a.add-item:before {
	content: '\f0fe';
	display: inline-block;
	margin-right:6px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #41af1c;
}

.j-toggle-trigger {
	background: url(/images/minus.png) center center no-repeat;
	background-size: 12px 12px;
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	position:relative;
	top: 3px;
	opacity: .8;
}

.j-toggle-parent.j-toggle-collapsed .j-toggle-trigger {
	background-image: url(/images/plus.png);
}

.j-toggle-parent > .j-toggle-summary {
	display:none;
}

.j-toggle-parent.j-toggle-collapse-initial > .j-toggle-summary {
	display:block;
}

.j-toggle-parent.j-toggle-collapse-initial > .j-toggle-content {
	display:none;
}

.carrier-container {
	border-bottom: 1px solid #888;
	margin: 0 -10px;
	padding: 0 10px;
}

.add_another_carrier {
	margin: 1em 0;
}

.postbodytext {
	word-wrap: break-word;
}

a.docLibrary-format-hr360 {
	color: #009900;
}