@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

body {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    background: #003C6E url(../images/login-1024.jpg) center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;
}

img {
    margin-bottom: 2em;
}

.login-form {
    position: relative;
    top: 20vh;
    margin: 0 auto;
    min-width: 340px;
    width: 40%;
    text-align: center;
    background: rgba(255, 255, 255, .9);
    border-radius: .5em;
    padding: 3em;
}

.login-form form {
    margin: 0 auto;
    text-align: left;
    width: 260px;
    font-size: 16px;
}

.login-form .login-error {
    color: red;
}

.login-form a {
    display: block;
    color: #0B61AF;
    text-decoration: none;
    margin-top: .5em;
}

label {
    line-height: 40px;
}

input[type=checkbox] {
    margin-left: 0;
}

select,
textarea,
input:not([type]),
input[type=text],
input[type=password],
input[type=submit],
input[type=button],
button {
    box-sizing: border-box;
    padding: 6px 12px;
    margin: 0 0 .5em 0;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #8a939c #abb2b8 #c1c6cb;
    outline-style: none;
    background: white;
    width: 100%;
    font-size: 1em;
}

input[type=submit],
input[type=button],
button {
    cursor: pointer;
    width: auto;
    padding: 4px 8px;
    line-height: 24px;
    background-color: #0B61AF;
    color: white;
    border-color: #3386cb;
}

input[type=text] {
    background: white url(icons/user.svg) no-repeat 6px center;
    background-size: 16px 16px;
    padding-left: 28px;
}

input[type=password] {
    background: white url(icons/lock.svg) no-repeat 6px center;
    background-size: 16px 16px;
    padding-left: 28px;
}

@media only screen and (min-width:1025px) {
   body {
       background-image:url(../images/login-1920.jpg);
   }
}

@media only screen and (min-width:1921px) {
    body {
        background-image:url(../images/login-3840.jpg);
    }
}

@media only screen and (min-width:3841px) {
    body {
        background-image:url(../images/login.jpg);
    }
}