<style>
    .label {
        color: #FFF;
        font-family: "helvetica neue", Helvetica, Arial, Verdana, sans-serif;
        font-size: 15px;
        margin-bottom: 10px;
    }

    #email_address {
        background-color: #306793;
        border: 1px solid #4F88AD;
        color: #FFFFFF;
        padding: 8px;
        width: 100%;

    }

    #submit {
        text-transform: uppercase;
        color: #666;
        cursor: pointer;
        padding: 10px;
        border-radius: 2px;
        border: 0px;
    }

    p {
        color: #4385B0;
        font-family: "helvetica neue", Helvetica, Arial, Verdana, sans-serif;
        font-size: 12px;
    }

    .error {
        color: #cc0000;
        font-family: "helvetica neue", Helvetica, Arial, Verdana, sans-serif;
        font-size: 12px;
    }
    a, a:hover, a:visited, a:active {
        color: white;
        text-decoration: none;
    }
</style>
<div id="step1">
    <div class="label">Email*</div>
    <input type="TextBox" id="email_address"/>

    <p>* = required field</p>

    <input id="submit" type="submit" value="subscribe"/>

    <div id="error" class="error" style="display:none">An error occurred subscribing to the newsletter. Please <a
            href="mailto:info@wakeupcall.net">email us</a> for assistance.
    </div>
</div>
<div id="step2" style="display:none">
    <div class="label">You have been subscribed to the newsletter!</div>
</div>


<script type=text/javascript>
    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
        return pattern.test(emailAddress);
    }

    function subscribe(e) {
        var email = document.getElementById("email_address").value;

        if (!isValidEmailAddress(email)) {
            window.alert("please enter a valid e-mail address");
            return false;
        }

        var http = new XMLHttpRequest();
        var url = "/API/newsletter.php";

        var params = {
            request: 'subscribe',
            data: {
                email: email
            }
        };
        var postData = "request=" + encodeURIComponent(JSON.stringify(params));

        http.open("POST", url, true);
        e.target.disabled = 'disabled'

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function (response) {
            if (response.target.readyState === 4) {
                e.target.disabled = '';
                if (http.status < 300) {
                    document.getElementById('step1').style.display = 'none';
                    document.getElementById('step2').style.display = 'block';
                } else {
                    document.getElementById('error').style.display = 'block';
                }
            }
        };
        http.send(postData);
    }

    document.getElementById('submit').addEventListener('click', subscribe);
</script>